<li id ="<%= dom_id(post) %>" class="p-4 bg-gray-100 rounded shadow">
  <%= link_to post.title, post_path(post), class: "text-blue-600 font-semibold" %><br>
  <span class="text-sm text-gray-600"><%= truncate(post.body, length: 100) %></span>
</li>
